@import '@unocss/reset/tailwind.css';

@font-face {
  font-family: 'SFUI';
  font-weight: 400;
  src: url(fonts/SFUIText-Regular.otf);
}
@font-face {
  font-family: 'SFUI';
  font-weight: 600;
  src: url(fonts/SFUIText-Semibold.otf);
}

:root {
  --color-body: #525252;
  --color-primary: theme('colors.gray.700');
  --color-primary-hover: theme('colors.gray.600');
}

* {
  font-family: 'SFUI';
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-body);
}

.nav-link.active {
  color: black;
}

.page {
  @apply container mx-auto py-8;
}

.macbook-bg {
  background-image: url("https://apple.com/v/home/bd/images/heroes/macbook-air-15/hero_macbook_air_15_midnight__ct0pgwizvree_large.jpg");
  height: 500px;
  background-position: center center;
}

.single {
  width: min(100%, 900px);
  margin: 0 auto;
}
p {
  margin-bottom: 1rem;
}
.section-title {
  @apply text-4xl font-bold text-black;
}
h1,h2,h3,h4,h5 {
  font-weight: bold;
  color: black;
}
.card-thumbnail {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.input {
  @apply border w-full mb-2 p-1 px-2 rounded-sm;
}
.cart-products th, .cart-products td {
  padding: .5rem;
  border: 1px solid black;
}